[submodule "shared/boot/u-boot"]
	path = shared/boot/u-boot
	url = https://github.com/u-boot/u-boot.git
	branch = v2024.07
[submodule "shared/kernel/rpi-linux"]
	path = shared/kernel/rpi-linux
	url = https://github.com/raspberrypi/linux.git
	branch = rpi-6.6.y
